<ion-view view-title="Olá {{username}}" name="dashboard-view">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-log-out button-stable" ng-click="account()">Conta</button>    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Sair</button>    
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title"></h3>       
        Bem vindo.      
      </div>
    </div>
  </ion-content>
</ion-view>
