<ion-view view-title="Public" name="dashboard-view">
  <ion-content class="padding">
      This is open for everyone!
       <button class="button button-full button-positive" ng-click="obterOrders()">
        Make Valid Request
      </button>
       <button class="button button-full button-positive" ng-click="obterUserInfo()">
        Make Valid Request
      </button>
      <button class="button button-full button-positive" ng-click="obterChamados()">
        Make Valid Request
      </button>
        {{response}}
  </ion-content>
</ion-view>
